@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --fondo: #131415;
    --amarillo: #ffa400;
    --rojo: #fc2933;
    --blanco: #ffffff;
    --gris: #4d4d4d;
    --gradienteA: #ffa100;
    --gradienteB: #fb103d;
    --font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--fondo);
    color: var(--blanco);
    font-family: var(--font-family);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: var(--blanco);
}

/********header*******/
.header_section{
    height: 40px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_img{
    width: 30px;
    height: 30px;
}

.nav_img img{
    width: 100%;
    height: 100%;
}

.nav_list{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_section ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav_list li{
    padding: 0px 15px;
}

.nav_section i{
    color: var(--amarillo);
}

/********carrito*******/

.cart_section{
    /* display: none; */
    z-index: 100;
    position: absolute;
    top: 40px;
    right: -30%;
    width: 300px;
    height: 500px;
    padding: 20px 20px;
    border-radius: 8px;
    border: 1px solid var(--gris);
    background-color: var(--fondo);
    transition: all 400ms linear;
}

.active_cart{
    transform: translateX(-410px);
}

.card_product{
    margin: 10px 0px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--gris);
    -webkit-box-shadow: 1px 0px 68px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 68px -10px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 68px -10px rgba(0,0,0,0.75);
}

.more, .less{
    width: 20px!important;
    padding: 2px 2px!important;
}

.card_product img{
    width: 30px;
    height: 30px;
}

.space_subtotal, .space_envio{
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;
}

.space_total{
    display: flex;
    justify-content: space-between;
}

.space_botones{
    display: flex;
    justify-content: space-around;
}

.overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1; /*Para que quede por encima del resto de las cosas*/
  
    /*Efecto de Glassmorphismo*/
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
  }

/********heroe*******/

.hero_section{
    margin-top: 100px;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text{
    padding: 10px 50px;
    margin-right: 40px;
}    

.hero_text h1{
    margin-top: 20px;
    font-size: 3.3rem;
}

.hero_text h2{
    margin-top: 5px;
    font-size: 2.8rem;
}

.hero_text h6{
    margin-top: 20px;
    font-size: 1rem;
}

.btn-text{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    font-size: 0.5rem;
    font-weight: 800;
    color: var(--blanco);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background: #FF512F;
    background: -webkit-linear-gradient(to right, var(--gradienteA), var(--gradienteB));
    background: linear-gradient(to right, var(--gradienteA), var(--gradienteB));
}

.hero_img{
    padding: 10px 50px;
}

.hero_img img{
    width: 300px;
}

/********recomendados*******/

.recomendados_section{
    max-width: 1200px;
    margin: auto;
}

.recomendados_text{
    margin-top: 20px;
    padding-left: 168px;
    text-align: left;
    font-size: 1rem;
    font-weight: 900;
}

.recomendados_card{
    width: 100%;
    padding: 10px 50px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card_recomendados{
    width: 270px;
    background: var(--gris);
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    -webkit-box-shadow: 1px 0px 68px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 68px -10px rgba(0,0,0,0.75);
    box-shadow: 1px 0px 68px -10px rgba(0,0,0,0.75);
}

.card_recomendados img{
    width: 50px;
}

.card_text h5{
    font-weight: 800;
    font-size: 10px;
}

.card_text h6{
    font-weight: 600;
    font-size: 8px;
    color:#1e1e1e;
}

.gradiente{
    background-image: linear-gradient(to right, var(--gradienteA), var(--gradienteB));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-text_recomendados{
    width: 50px;
    height: 15px;
    font-size: 0.5rem;
    font-weight: 800;
    color: var(--blanco);
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background: #FF512F;
    background: -webkit-linear-gradient(to right, var(--gradienteA), var(--gradienteB));
    background: linear-gradient(to right, var(--gradienteA), var(--gradienteB));
}

/********categoria*******/

.categorias_section{
    max-width: 1200px;
    margin: auto;
}

.categorias_section h6{
    margin-top: 50px;
    padding-left: 168px;
}

.categorias_card{
    margin-top: 20px;
    padding-left: 168px;
    display: flex;
    flex-wrap: wrap;
    gap: 27.5px;
    align-items: center;
}

.card_categoria{
    width: 100px;
    height: 125px;
    border-radius: 10px;
    background-color: var(--gris);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: all 300ms;
}

.active{
    transform: scale(1.1);              
    border: 1px solid var(--blanco);
}

.card_categoria img{
    width: 60px;
    height: 60px;
}

.card_categoria h3{
    font-size: 0.6rem;
}

.card_categoria .linea{
    border-radius: 20px;
    width: 20px;
    height: 5px;
    background: linear-gradient(to right, var(--gradienteA), var(--gradienteB));
}

/********masPopulares*******/

.maspopulares_section{
    max-width: 1200px;
    margin: auto;
}

.maspopulares_section h6{
    margin-top: 50px;
    padding-left: 168px;
    text-transform: capitalize;
}

.cat_selected{
    margin-top: 25px;
    padding-left: 168px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 21px;
    column-gap: 21px;
}

.card_cat{
    width: 200px;
    height: 180px;
    border-radius: 10px;
    background-color: var(--gris);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 0.5rem;
    transition: all 300ms;
}

.cat_selected:hover > .card_cat:not(:hover)
{
    transform: scale(0.9);
    filter: blur(2px) saturate(0) contrast(1.2) brightness(0.5);
}

.card_cat img{
    width: 80%;
    height: 80px;
    border-radius: 5px;
}

.card_cat_text{
    width: 80%;
    height: 50px;
    margin: 5px 0px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 1.2px;
}

.card_cat_text p{
    width: 100%;
    height: 100%;
    font-weight: 900;
    font-size: 0.6rem;
}

.card_cat_text .title{
    letter-spacing: 2px;
}

.card_cat_text .subtitle{
    color:#1e1e1e;
}

.card_cat_text .gradiente1{ 
    background-image: linear-gradient(to right, var(--gradienteA), var(--gradienteB));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 1.2rem;
}

/***************footer******************/

footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.legales_section a{
    padding: 15px 15px;
}


/***************mediaQuery******************/

@media only screen and (max-width: 700px){
    .header_section{
        height: 20px;
        padding: 0px 20px;
    }

    .cart_section{
        top: 40px;
        right: 0%;
        width: 100%;
        height: 100vh;
    }
    
    .active_cart{
        transform: translateX(400px);
    }

    .hero_section{
        display: flex;
        flex-direction: column;
    }

    .hero_text{
        width: 100%;
        margin: 0;
        padding: 20px 20px;
    }

    .hero_img{
        display: none;
    }

    .recomendados_section{
        width: 100%;
    }

    .recomendados_text{
        padding: 0;
        text-align: center;
        font-size: 1.5rem;
    }

    .categorias_section{
        width: 100%;
    }

    .categorias_card{
        margin: 10px;
        padding: 10px 20%;
        display: grid;
        grid-template-columns: repeat(2,1Fr);
        row-gap: 20px;
    }

    .categorias_section h6{
        padding: 0;
        text-align: center;
        font-size: 1.5rem;
    }

    .maspopulares_section{
        width: 100%;
        height: auto;
    }

    .maspopulares_section h6{
        padding: 0;
        text-align: center;
        font-size: 1.5rem;
    }

    .cat_selected{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .legales_section a{
        display: flex;
        justify-content: center;
    }
}



